<div class="section">
  <h2>{{title}}</h2>
  {{#each stories}}
  <div class="story">
    <p>
      <span class="number">#{{number}}</span>
      <a {{bindAttr href="html_url"}}>{{title}}</a>
    </p>
    {{#if assignee}}
      <img {{bindAttr src="assignee.avatar_url" title="assignee.login"}} />
    {{/if}}
  </div>
  {{/each}}
</div>
